<%- include('./partials/header.ejs') %>
<%- include('./partials/navbar.ejs') %>
<section class="welcome-area">
    <div class="welcome-slides owl-carousel">
        <div class="single-welcome-slide bg-img bg-overlay" style="background-image: url(/img/bg-img/16.jpg);"
            data-img-url="img/bg-img/16.jpg">
            <div class="welcome-content h-100">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <div class="welcome-text text-center">
                                <h6 data-animation="fadeInLeft" data-delay="200ms">Hotels &amp; Resorts</h6>
                                <h2 data-animation="fadeInLeft" data-delay="500ms">Welcome To StaySense</h2>
                                <a href="/hotels" class="btn roberto-btn btn-2" data-animation="fadeInLeft"
                                    data-delay="800ms">Discover Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-welcome-slide bg-img bg-overlay" style="background-image: url(/img/bg-img/17.jpg);"
            data-img-url="img/bg-img/17.jpg">
            <div class="welcome-content h-100">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <div class="welcome-text text-center">
                                <h6 data-animation="fadeInUp" data-delay="200ms">Hotels &amp; Resorts</h6>
                                <h2 data-animation="fadeInUp" data-delay="500ms">Welcome To StaySense</h2>
                                <a href="/hotels" class="btn roberto-btn btn-2" data-animation="fadeInUp"
                                    data-delay="800ms">Discover Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-welcome-slide bg-img bg-overlay" style="background-image: url(/img/bg-img/18.jpg);"
            data-img-url="img/bg-img/18.jpg">
            <div class="welcome-content h-100">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <div class="welcome-text text-center">
                                <h6 data-animation="fadeInDown" data-delay="200ms">Hotels &amp; Resorts</h6>
                                <h2 data-animation="fadeInDown" data-delay="500ms">Welcome To StaySense</h2>
                                <a href="/hotels" class="btn roberto-btn btn-2" data-animation="fadeInDown"
                                    data-delay="800ms">Discover Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="roberto-about-area section-padding-100-0">
    <div class="container mt-100">
        <div class="row align-items-center">
            <div class="col-12 col-lg-6">
                <div class="section-heading wow fadeInUp" data-wow-delay="100ms">
                    <h6>About Us</h6>
                    <h2>Welcome to <br>StaySense</h2>
                </div>
                <div class="about-us-content mb-100">
                    <h5 class="wow fadeInUp" data-wow-delay="300ms">With over 340 hotels worldwide, StaySense offers a
                        wide variety of hotels catering for a perfect stay no matter where your destination.</h5>
                    <p class="wow fadeInUp" data-wow-delay="400ms">Manager: <span>Michen Taylor</span></p>
                    <img src="/img/core-img/signature.png" alt="" class="wow fadeInUp" data-wow-delay="500ms">
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="about-us-thumbnail mb-100 wow fadeInUp" data-wow-delay="700ms">
                    <div class="row no-gutters">
                        <div class="col-6">
                            <div class="single-thumb">
                                <img src="/img/bg-img/13.jpg" alt="">
                            </div>
                            <div class="single-thumb">
                                <img src="/img/bg-img/14.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="single-thumb">
                                <img src="/img/bg-img/15.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="roberto-service-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="service-content d-flex align-items-center justify-content-between">
                    <div class="single-service--area mb-100 wow fadeInUp" data-wow-delay="100ms">
                        <img src="/img/core-img/icon-1.png" alt="">
                        <h5>Transportion</h5>
                    </div>
                    <div class="single-service--area mb-100 wow fadeInUp" data-wow-delay="300ms">
                        <img src="/img/core-img/icon-2.png" alt="">
                        <h5>Reiseservice</h5>
                    </div>
                    <div class="single-service--area mb-100 wow fadeInUp" data-wow-delay="500ms">
                        <img src="/img/core-img/icon-3.png" alt="">
                        <h5>Spa Relaxtion</h5>
                    </div>
                    <div class="single-service--area mb-100 wow fadeInUp" data-wow-delay="700ms">
                        <img src="/img/core-img/icon-4.png" alt="">
                        <h5>Restaurant</h5>
                    </div>
                    <div class="single-service--area mb-100 wow fadeInUp" data-wow-delay="900ms">
                        <img src="/img/core-img/icon-1.png" alt="">
                        <h5>Bar &amp; Drink</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="roberto-rooms-area">
    <div class="rooms-slides owl-carousel">
        <div class="single-room-slide d-flex align-items-center">
            <div class="room-thumbnail h-100 bg-img" style="background-image: url(/img/bg-img/60.jpg);"></div>
            <div class="room-content">
                <h2 data-animation="fadeInUp" data-delay="100ms">Taj Lake Palace</h2>
                <h3 data-animation="fadeInUp" data-delay="300ms">₹ 30,000 <span>/ Day</span></h3>
                <ul class="room-feature" data-animation="fadeInUp" data-delay="500ms">
                    <li><span><i class="fa fa-check"></i> Room Size</span> <span>: 200 sq ft</span></li>
                    <li><span><i class="fa fa-check"></i> Capacity</span> <span>: Max 2 persons</span></li>
                    <li><span><i class="fa fa-check"></i> Bed</span> <span>: Twin Beds</span></li>
                    <li><span><i class="fa fa-check"></i> Address</span> <span>: Pichola, Udaipur, Rajasthan</span></li>
                </ul>
                <a href="/hotels/6472bf1e4cb68e4b5432b7f2" class="btn roberto-btn mt-30" data-animation="fadeInUp"
                    data-delay="700ms">View Details</a>
            </div>
        </div>
        <div class="single-room-slide d-flex align-items-center">
            <div class="room-thumbnail h-100 bg-img" style="background-image: url(/img/bg-img/59.jpg);"></div>
            <div class="room-content">
                <h2 data-animation="fadeInUp" data-delay="100ms">The St. Regis</h2>
                <h3 data-animation="fadeInUp" data-delay="300ms">₹ 12,000 <span>/ Day</span></h3>
                <ul class="room-feature" data-animation="fadeInUp" data-delay="500ms">
                    <li><span><i class="fa fa-check"></i> Room Size</span> <span>: 450 sq ft</span></li>
                    <li><span><i class="fa fa-check"></i> Capacity</span> <span>: Max 3 persons</span></li>
                    <li><span><i class="fa fa-check"></i> Bed</span> <span>: King Beds</span></li>
                    <li><span><i class="fa fa-check"></i> Address</span> <span>: Lower Parel, Mumbai, Maharashtra</span>
                    </li>
                </ul>
                <a href="/hotels/6472c0854cb68e4b5432b841" class="btn roberto-btn mt-30" data-animation="fadeInUp"
                    data-delay="700ms">View Details</a>
            </div>
        </div>
        <div class="single-room-slide d-flex align-items-center">
            <div class="room-thumbnail h-100 bg-img" style="background-image: url(/img/bg-img/58.jpg);"></div>
            <div class="room-content">
                <h2 data-animation="fadeInUp" data-delay="100ms">The Oberoi Amarvilas</h2>
                <h3 data-animation="fadeInUp" data-delay="300ms">₹ 35,000 <span>/ Day</span></h3>
                <ul class="room-feature" data-animation="fadeInUp" data-delay="500ms">
                    <li><span><i class="fa fa-check"></i> Room Size</span> <span>: 400 sq ft</span></li>
                    <li><span><i class="fa fa-check"></i> Capacity</span> <span>: Max 3 persons</span></li>
                    <li><span><i class="fa fa-check"></i> Bed</span> <span>: Twin Beds</span></li>
                    <li><span><i class="fa fa-check"></i> Address</span> <span>: Paktola, Tajganj, Agra, Uttar
                            Pradesh</span>
                    </li>
                </ul>
                <a href="/hotels/6472c18e4cb68e4b5432b861" class="btn roberto-btn mt-30" data-animation="fadeInUp"
                    data-delay="700ms">View Details</a>
            </div>
        </div>
        <div class="single-room-slide d-flex align-items-center">
            <div class="room-thumbnail h-100 bg-img" style="background-image: url(/img/bg-img/57.jpg);"></div>
            <div class="room-content">
                <h2 data-animation="fadeInUp" data-delay="100ms">Wildflower Hall</h2>
                <h3 data-animation="fadeInUp" data-delay="300ms">₹ 40,000 <span>/ Day</span></h3>
                <ul class="room-feature" data-animation="fadeInUp" data-delay="500ms">
                    <li><span><i class="fa fa-check"></i> Room Size</span> <span>: 400 sq ft</span></li>
                    <li><span><i class="fa fa-check"></i> Capacity</span> <span>: Max 3 persons</span></li>
                    <li><span><i class="fa fa-check"></i> Bed</span> <span>: XL Double Beds</span></li>
                    <li><span><i class="fa fa-check"></i> Address</span> <span>: Charabra, Shimla, Himachal
                            Pradesh</span>
                    </li>
                </ul>
                <a href="/hotels/6472c2304cb68e4b5432b881" class="btn roberto-btn mt-30" data-animation="fadeInUp"
                    data-delay="700ms">View Details</a>
            </div>
        </div>
        <div class="single-room-slide d-flex align-items-center">
            <div class="room-thumbnail h-100 bg-img" style="background-image: url(/img/bg-img/56.jpg);"></div>
            <div class="room-content">
                <h2 data-animation="fadeInUp" data-delay="100ms">The Imperial</h2>
                <h3 data-animation="fadeInUp" data-delay="300ms">₹ 14,000 <span>/ Day</span></h3>
                <ul class="room-feature" data-animation="fadeInUp" data-delay="500ms">
                    <li><span><i class="fa fa-check"></i> Room Size</span> <span>: 300 sq ft</span></li>
                    <li><span><i class="fa fa-check"></i> Capacity</span> <span>: Max 2 persons</span></li>
                    <li><span><i class="fa fa-check"></i> Bed</span> <span>: Single Beds</span></li>
                    <li><span><i class="fa fa-check"></i> Address</span> <span>: Janpath, Connaught Place, New
                            Delhi</span>
                    </li>
                </ul>
                <a href="/hotels/6472c2b84cb68e4b5432b8a1" class="btn roberto-btn mt-30" data-animation="fadeInUp"
                    data-delay="700ms">View Details</a>
            </div>
        </div>
    </div>
</section>
<section class="roberto-testimonials-area section-padding-100-0">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-6">
                <div class="testimonial-thumbnail owl-carousel mb-100">
                    <img src="/img/bg-img/10.jpg" alt="">
                    <img src="/img/bg-img/11.jpg" alt="">
                    <img src="/img/bg-img/12.jpg" alt="">
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="section-heading">
                    <h6>Testimonials</h6>
                    <h2>Our Guests Love Us</h2>
                </div>
                <div class="testimonial-slides owl-carousel mb-100">
                    <div class="single-testimonial-slide">
                        <h5>“I had a fantastic stay at this hotel! The staff was incredibly friendly and attentive, and
                            the room was spacious and comfortable. The highlight for me was definitely the beautiful
                            swimming pool where I could relax and cool off after a long day of exploring the city.
                            Highly recommended!”</h5>
                        <div class="rating-title">
                            <div class="rating">
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                            </div>
                            <h6>Sarah M.</h6>
                        </div>
                    </div>
                    <div class="single-testimonial-slide">
                        <h5>“I cannot say enough positive things about the spa services at this hotel. The therapists
                            were highly skilled and provided a truly rejuvenating experience. The serene ambiance and
                            attention to detail made it a perfect escape from the hustle and bustle of daily life. I
                            left feeling completely refreshed and pampered.”</h5>
                        <div class="rating-title">
                            <div class="rating">
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                            </div>
                            <h6>John D.</h6>
                        </div>
                    </div>
                    <div class="single-testimonial-slide">
                        <h5>“The movie nights at this hotel were a delightful surprise. They created a cozy and inviting
                            atmosphere, and the selection of films was fantastic. I loved being able to enjoy a movie
                            with complimentary snacks and drinks. It was a great way to unwind and spend quality time
                            with loved ones. I would definitely return for another movie night experience.”</h5>
                        <div class="rating-title">
                            <div class="rating">
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                            </div>
                            <h6>Emily R.</h6>
                        </div>
                    </div>
                    <div class="single-testimonial-slide">
                        <h5>“I thoroughly enjoyed my time at this hotel's gym. The equipment was modern and
                            well-maintained, and the trainers were knowledgeable and supportive. I appreciated the
                            variety of workout options available, which allowed me to maintain my fitness routine while
                            traveling. The gym facilities exceeded my expectations, making my stay even more enjoyable.”
                        </h5>
                        <div class="rating-title">
                            <div class="rating">
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                            </div>
                            <h6>Michael S.</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="roberto-project-area">
    <div class="projects-slides owl-carousel">
        <div class="single-project-slide active bg-img" style="background-image: url(/img/bg-img/5.jpg);">
            <div class="project-content">
                <div class="text">
                    <h6>Recreation</h6>
                    <h5>Swimming Pool</h5>
                </div>
            </div>
            <div class="hover-effects">
                <div class="text">
                    <h6>Recreation</h6>
                    <h5>Swimming Pool</h5>
                    <p>Dive into bliss and unwind by our sparkling swimming pool, where refreshing moments and
                        sun-kissed relaxation await.</p>
                </div>
                <a href="/hotels" class="btn project-btn">Discover Now <i class="fa fa-long-arrow-right"
                        aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="single-project-slide bg-img" style="background-image: url(/img/bg-img/6.jpg);">
            <div class="project-content">
                <div class="text">
                    <h6>Relaxation</h6>
                    <h5>Spa Services</h5>
                </div>
            </div>
            <div class="hover-effects">
                <div class="text">
                    <h6>Relaxation</h6>
                    <h5>Spa Services</h5>
                    <p>Indulge in pure relaxation and rejuvenation with our luxurious spa services, tailored to pamper
                        your mind, body, and soul.</p>
                </div>
                <a href="/hotels" class="btn project-btn">Discover Now <i class="fa fa-long-arrow-right"
                        aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="single-project-slide bg-img" style="background-image: url(/img/bg-img/7.jpg);">
            <div class="project-content">
                <div class="text">
                    <h6>Entertaiment</h6>
                    <h5>Movie Nights</h5>
                </div>
            </div>
            <div class="hover-effects">
                <div class="text">
                    <h6>Entertaiment</h6>
                    <h5>Movie Nights</h5>
                    <p>Immerse yourself in unforgettable movie nights at our hotel, where cinematic magic comes to life.
                    </p>
                </div>
                <a href="/hotels" class="btn project-btn">Discover Now <i class="fa fa-long-arrow-right"
                        aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="single-project-slide bg-img" style="background-image: url(/img/bg-img/8.jpg);">
            <div class="project-content">
                <div class="text">
                    <h6>Recreation</h6>
                    <h5>Bike Rentals</h5>
                </div>
            </div>
            <div class="hover-effects">
                <div class="text">
                    <h6>Recreation</h6>
                    <h5>Bike Rentals</h5>
                    <p>Discover the freedom of exploring the city with our convenient bike rentals, provided by our
                        hotel. Enjoy the scenic routes and local attractions at your own pace, while staying active and
                        eco-friendly.</p>
                </div>
                <a href="/hotels" class="btn project-btn">Discover Now <i class="fa fa-long-arrow-right"
                        aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="single-project-slide bg-img" style="background-image: url(/img/bg-img/9.jpg);">
            <div class="project-content">
                <div class="text">
                    <h6>Workout</h6>
                    <h5>Gymnasium</h5>
                </div>
            </div>
            <div class="hover-effects">
                <div class="text">
                    <h6>Workout</h6>
                    <h5>Gymnasium</h5>
                    <p>Elevate your fitness routine at our hotel gym, equipped with cutting-edge equipment and expert
                        trainers.</p>
                </div>
                <a href="/hotels" class="btn project-btn">Discover Now <i class="fa fa-long-arrow-right"
                        aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</section>
<section class="roberto-blog-area section-padding-100-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center wow fadeInUp" data-wow-delay="100ms">
                    <h6>Our Hotels</h6>
                    <h2>Latest Hotels &amp; Resorts</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <% for( let hotel of hotels ) { %>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-post-area mb-100 wow fadeInUp" data-wow-delay="300ms">
                    <a href="/hotels/<%= hotel._id %>" class="post-thumbnail"><img
                            src="<%= hotel.crop(hotel.images[0].url, 600, 417) %>" alt=""></a>
                    <div class="post-meta">
                        <a class="post-date"><%= moment(hotel.createdAt).format('MMMM DD, YYYY')%></a>
                        <a href="/hotels" class="post-catagory">Hotel</a>
                    </div>
                    <a href="/hotels/<%= hotel._id %>" class="post-title"><%= hotel.name %></a>
                    <p>
                        Price: ₹ <%=hotel.price%> / Day
                        <br>
                        Address: <%= hotel.address %>
                    </p>
                    <a href="/hotels/<%= hotel._id %>" class="btn continue-btn"><i class="fa fa-long-arrow-right"
                            aria-hidden="true"></i></a>
                </div>
            </div>
            <% } %>
        </div>
    </div>
</section>

<%- include('./partials/contact.ejs') %>
<%- include('./partials/footerBox.ejs') %>
<%- include('./partials/footer.ejs') %>